<!DOCTYPE html>
<html>
<head>
  <title>Gitkeeper</title>
  <%= stylesheet_link_tag    "gitkeeper/application", media: "all" %>
  <%= javascript_include_tag "gitkeeper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="user_nav">  
      <%= link_to "Sign in with Github", "/auth/github" %>  
    </div>  

    <%= yield %>

</body>
</html>
