<% if @current_user %>
  <p><li>Logged in <%= @current_user.class %> :</li></p>
  <p>
    <li>user uid: <%= @current_user.uid %></li>
    <li>user name: <%= @current_user.name %></li>
    <li>user email: <%= @current_user.email %></li>
    <li>user nickname: <%= @current_user.nickname %></li>
    <li>user provider: <%= @current_user.provider %></li>
  </p>
  <p>Object inspect: <%= @current_user.inspect %></p>
<% else %>
  <h1> Please Sign in with Github </h1>
<% end %>

